{% extends 'base.html' %}

{% block content %}
<div id="content">
<h2 class="page-header">About</h2>
<p style="font-size: 125%">Hi! I am <b>Abhinav I</b>, from <b>Bangalore, India</b>, currently pursuing final year in Computer Science & Engineering from PESIT-BSC, Bangalore. I love programming, more specifically, programming in <b>Python</b> and developing web applications using <b>Django</b>. The best part about web development/ design according to me, is the sense of accomplishment that one can get after a hard day’s (night’s?) coding. You can view the results instantly through your web browser after every component or heck, even one line of code!(CSS). <br><br>

Apart from developing web apps, I also enjoy participating in various programming contents held at CodeChef, Hackerearth etc and playing Dota2 with friends over Steam. <br><br>

Finally, this blog is the result of the very first application that I built using Django and I'm proud of it. <p>
</div>
{% endblock %} 