{% extends 'base.html' %}

{% block content %}
<div id="content">
<h2 class="page-header">Contact</h2>
	<h5 class="page-header">General</h5>
	<p align="center" style="font-size: 125%"><b>Email</b>: abhinav.qd@gmail.com <br>
	<b>Phone</b>: 8892924373<br></p>
	<h5 class="page-header">Social networks</h5>
	<div class="row" id="contact">
		<a class="col-md-2 col-xs-2" href='https://www.facebook.com/Abh1n4v'><img src="/static/images/facebook-square.png"> </a>
		<a class="col-md-2 col-xs-2" href="http://stackoverflow.com/users/3810847/abhinav-i"><img src="/static/images/stackoverflow.png"> </a>
		<a class="col-md-2 col-xs-2" href="http://in.linkedin.com/in/abh1n4v/"><img src="/static/images/linkedin.png"></a>
		<a class="col-md-2 col-xs-2" href="https://github.com/code-haven"><img src="/static/images/github.png"></a>
		<a class="col-md-2 col-xs-2" href="https://plus.google.com/u/0/110626881117206454437"><img src="/static/images/googleplus-square.png"></a>
		<a class="col-md-2 col-xs-2" href="https://www.youtube.com/user/QuickDeath147"><img src="/static/images/youtube.png"></a>
	</div>
</div>
{% endblock %}